/**
 * SASS File: 		flickerplate.scss
 * Type: 			execute
 * Author:        	Chris Humboldt
 * Last Edited:   	27 September 2014
 * Link:			http://getwebplate.com/plugins/flickerplate
 */

// Table of Contents:
// ---------------------------------------------------------------------------------------
// Imports
// Call styles


// Imports
// ---------------------------------------------------------------------------------------
@import "../bower_components/blueplate/sass/blueplate";
@import "flickerplate/import";


// Call styles
// ---------------------------------------------------------------------------------------
// Call this mixin if you want to load up all the styles
@include flickerplate-css();


