/**
 * SASS File: 		flickerplate.scss
 * Author:        	Chris Humboldt
 * Last Edited:   	27 May 2014
 * Edited By:		Chris Humboldt
 * Link:			http://getwebplate.com/plugins/flickerplate
 */

// Table of Contents:
// ---------------------------------------------------------------------------------------
// Imports
// Call styles

// Imports
// ---------------------------------------------------------------------------------------
@import "blueplate/import";
@import "flickerplate/import";


// Call styles
// ---------------------------------------------------------------------------------------
// Call this mixin if you want to load up all the styles
@include flickerplate-css();