/**
 * SASS File: 		_animation.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	8 May 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Transition
// Transform easing


// Transition
// ---------------------------------------------------------------------------------------
@mixin animate($attribute, $transition-speed: 0.2s, $easing: ease-out) {
    -webkit-transition: $attribute $transition-speed $easing;
    -moz-transition: $attribute $transition-speed $easing;
    -o-transition: $attribute $transition-speed $easing;
    -ms-transition: $attribute $transition-speed $easing;
    transition: $attribute $transition-speed $easing;
}


// Transform easing
// ---------------------------------------------------------------------------------------
@mixin transform-easing($x: 0px, $y: 0px, $z: 0px, $transition-speed: 0.2s, $easing: ease-out) {
    @include transform-translate-3d($x, $y, $z);
    -webkit-transition: -webkit-transform $transition-speed $easing;
    -o-transition: -o-transform $transition-speed $easing;
    -moz-transition: -moz-transform $transition-speed $easing;
    transition: transform $transition-speed $easing;
}